@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --font-heading:'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --primary-pink: hsl(322, 100%, 66%);
    --neutral--pale-cyan: hsl(193, 100%, 96%);
    --neutral--dark-cyan:  hsl(192, 100%, 9%);
    --neutral--gray-blue: hsl(208, 11%, 55%);
    --black: #1f2937;
}
body {
   
    font-family: var(--font-body);
    font-size: 1.125rem;
    color:  var(--black);
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 2vw, 2rem);
  text-align: center;
  padding-inline: 1.8em;
  font-weight: 700;
  margin-block-end: 4.375em;
  font-family: var(--font-heading);
}

h2 {
  font-family: var(--font-heading);
  text-align: center;
  font-size: clamp(1.375rem, 1.375rem + 2vw, 1.875rem );
  margin-block-end: 1.875em;
}

h3 {
   font-family: var(--font-heading);
   text-align: center;
   font-size: clamp(1.125rem, 1.125rem + 2vw, 1.3rem);
   margin-block-end: 2.4375rem;
}

main {
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--neutral--pale-cyan);
}

.main__para {
  color: var(--black);
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.125rem + 2vw, 1.3125rem  );
  font-weight: 400;
  text-align: center;
  margin-inline: 1em;
  margin-block-end: 4.375em;
}

.main__btn {
  background-color: var(--primary-pink);
  border: none;
  color: var(--neutral--pale-cyan);
  font: inherit;
  font-weight: 600;
  padding-block: 0.875em;
  padding-inline: 4em;
  border-radius: 3.125rem;
  display: block;
  margin-inline: auto;
  margin-block-end: 6.875em;
  transition: opacity 500ms ease;
}

.main__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main__img {
  margin-inline: 1.2em;
  margin-block-end: 2.5em;
  
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-inline: 1.875em;
    margin-block-end: 5.3125em;
}

.nav__logo {
  width: min(25vw, 200px);
  margin-block-start: 2.8125em;
} 

.nav__btn {
    background-color: #f8fafc;
    font-family: var(--font-heading);
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    border: none;
    padding-block: 0.75em;
    padding-inline: 2.8125em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 6.25rem;
    margin-block-start: 2.8125em;
    transition: opacity 500ms ease,
}

.nav__btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4.875rem;
  padding-top: 4.375em;
  margin-block-end: 3em;
}

.container img {
  margin-block-end: 4em;
}

.container p {
  text-align: center;
  color: var(--neutral--gray-blue) ;
}

.container article {
  background-color: #fff;
  margin-inline: 1.5em;
  padding-block: 1.5em;
  padding-inline: 1.5em;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.question {
  background-color: #fff;
  padding-block-start: 2.125em;
  padding-block-end: 2.125em;
  border-radius: 1.25rem;
  margin-inline: 0.5em;
  position: relative;
  top: 5em;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.question__btn {
  background-color: var(--primary-pink);
  border: none;
  color: var(--neutral--pale-cyan);
  font: inherit;
  font-size: (0.8125rem, 0.8125rem + 1.5vw , 2rem);
  font-weight: 600;
  padding-block: 0.875em;
  padding-inline: 2em;
  border-radius: 3.125rem;
  display: block;
  margin-inline: auto;
  margin-block-end: 0.4375em;
  transition: opacity 500ms ease;

}

.question__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

footer {
  background-color: var(--neutral--dark-cyan);
  color: var(--neutral--pale-cyan);
  padding-inline: 1.75rem;
}

.footer__logo {
   filter: brightness(0) invert(1);  
   padding-block-start: 9.0625em;
   margin-block-end: 3.5em;
}

.list__contact {
  display: flex;
  flex-direction: column;
  
}

.list__flex {
  display: flex;
  gap: 1.875em;
  margin-block-end: -3.5em;
}

.list__flex img {
  width: 27px;
  height: 27px;
}

.list {
  margin-inline-start: -2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list > ul li {
  list-style-type: none;
}

.list__question:nth-of-type(1) {
  margin-block-end: -2em;
}

.list__question li {
  margin-bottom: 20px;
  transition: text-decoration 500ms ease;
}

.list__question li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer p:last-of-type {
  text-align: center;
  padding-block-end: 6.25em;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 1.125em;
  margin-block-end: 2.625em;
}

.social__icon {
  filter: brightness(0) invert(1);    
  padding: 0.625rem;
  border-radius: 100%;
  border: 2px solid #fff;
  height: 2.8125em;
  width: 2.8125em;
  transition: filter 600ms ease-in;
}

.social__icon:hover {
  filter: invert(46%) sepia(49%) saturate(2128%) hue-rotate(295deg) brightness(102%) contrast(101%);
  cursor: pointer
}

.copy {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  main section {
    display: flex;
    margin-inline: 5em;
  }

  .nav {
    margin-inline: 5em;
  }

  h1 {
    margin-left: -8.5em;
    margin-block-end: 1.8em;
    padding-inline: 9em;
    text-align: left;

  }

  .main__para {
    margin-block-end: 1.875em;
    text-align: left;
  }

  .main__btn {
    margin-inline-end: 20.5em;
    
  }

  .container article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-inline: 2.3125em;
    padding-block: 3.75em;
  }

  .container article:nth-of-type(1) {
    flex-direction: row-reverse;
  }

  .container article:nth-of-type(3) {
    flex-direction: row-reverse;
  }

  .article__content {
    padding-inline: 1em;
  }

  .question {
    top: 6em;
    margin-inline: 20em;
    padding-inline: 8em;
  }

  footer {
    padding-block-start: 6em;
    padding-inline: 7.375em;
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

  .list {
    display: flex;
    flex-direction: row;
  }

  .copy {
   margin-inline-start: 44em;
  }
}